body {
    padding-top: 70px;
    background-color: rgba(95, 91, 91, 0.096);
}

h1{
    font-weight: bold;
}
h6{
    font-weight: bold;
}
 .card{
    padding: 25px;
    width: 45%;
}

.form-group button{
    background-color: rgba(95, 91, 91, 0.096);
}

.grid .card{
    padding: 0px;
    
    
}

.card p{
    padding-left: 25px
}

.grid {
    display: grid;
    grid-gap: 4rem;   
    width: 100%;
    grid-template-columns: repeat(autofit,minmax(30rem),1fr);
    
}

.grid img{
    width: 100%;
}
.grid #title{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px
}
.grid #location{
    color: gray;
}
.grid #price{
    border-radius: 15px;
    background-color: rgb(12, 148, 226);
    color: white;
    margin-right: 360px;
    margin-left: 15px;
    text-align: left; 
}


