body {
    padding-top: 70px;
    background-color: rgba(95, 91, 91, 0.096);
}

h1{
    font-weight: bold;
}
h6{
    font-weight: bold;
}
.card{
    padding: 25px;
    width: 45%;
}

.form-group button{
    background-color: rgba(95, 91, 91, 0.096);
}
