body {
    padding-top: 70px;
    background-color: rgba(95, 91, 91, 0.096);
}

h1{
    font-weight: bold;
}
h6{
    font-weight: bold;
}
.card{
    padding: 25px;
    width: 45%;
}

.form-group button{
    background-color: rgba(95, 91, 91, 0.096);
}

.grid .card{
    padding: 0px;
}

.card p{
    padding-left: 25px
}

.grid {
    display: grid;
    width: 50rem;
    grid-gap: 6rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(30rem, 1fr)
    );  
    
}
img{
    width: 100%;
}
