{%extends 'base.html'%}

{%block main%}
<h1> Properties</h1>
<div class= grid>
    {%for estate in listing%}
    <div class="card ">
    
        <img src="{{url_for('get_image',filename=estate.photo)}}">
   
        <p> {{estate.title}}</p>    
        <p> {{estate.location}}</p> 
        <p> <i class="fal fa-map-marker-alt"></i>{{estate.price}}</p> 
        <button class='btn btn-success'{{url_for('viewproperties',propertyid=estate.id)}}>View Property</button> 
    </div>
   {%endfor%}
</div>
{%endblock%}