{%extends 'base.html'%}

{%block main%}
<h1>Add New Property</h1>

<div class = card>

    <form method="POST" action="{{url_for('property')}}" enctype="multipart/form-data">
        <div class= form-group>
            <h6 id= heading>{{form.title.label}} </h6>
            {{form.title(class="form-control d-flex col-10")}}

        </div>
        <div class= form-group>
            <h6 id= heading>{{form.descrp.label}} </h6>
            {{form.descrp(class="form-control d-flex col-10")}}
            
        </div>

        <div class= input-group>
            <div class =form-group>
                <h6 id= heading>{{form.no_bed.label}} </h6>
                {{form.no_bed(class="form-control d-flex col-10")}}

            </div>
            
            <div class =form-group>
                <h6 id= heading>{{form.no_bath.label}} </h6>
                {{form.no_bath(class="form-control d-flex col-10")}}
            </div>     
                
        </div>  
        

        <div class= input-group>
            <div class=form-group>
                <h6 id= heading>{{form.price.label}} </h6>
                {{form.price(class="form-control d-flex col-10")}}
            </div>  

            <div class=form-group>
                <h6 id= heading>{{form.types.label}} </h6>
                {{form.types(class="form-control d-flex col-lg-20")}}

            </div>        
            
        </div>

        <div class= form-group>
            <h6 id= heading>{{form.location.label}} </h6>
            {{form.location(class="form-control d-flex col-5")}}
            
        </div>
    
        <div class= form-group>
            <h6 id= heading>{{form.photo.label}} </h6>
            {{form.photo(class="mb-3")}}         
                
        </div>
        <button class="btn btn-primary">Add Property</button>
    </form>
</div>
{%endblock%}

